<div class="col-md-10 offset-md-1 father">
    <div class="social-card col-md-12 p-0" align="center">
        <div class="thead blue-back px-4">
            <span class="white-text">
                Usuarios
            </span>
            <input
            [(ngModel)]="search"
            type="text"
            class="form-control"
            placeholder="Buscar"
          />
        </div>

        <div *ngIf="loader" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>

        <div class="animated fadeIn" *ngIf="!create && !loader" >
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col"> Avatar </th>
                    <th scope="col"> Nombre </th>
                    <th scope="col"> Apellido </th>
                    <th scope="col"> Email </th>
                    <th scope="col"> Acciones </th>
                </tr>
                </thead>
                <tbody>
                    <div class="body"> 
                        <tr *ngFor="let item of users | filter: search ; let i = index;" >
                            <th scope="row"> {{item.id}} </th>
                            <th scope="row"> 
                                <img *ngIf="item.avatar" class="user-img" src="{{item.avatar}}" alt="">  
                                <i *ngIf="!item.avatar" class="material-icons user3">person</i>
                            </th>
                            <td> {{ item.first_name }} </td>
                            <td> {{ item.last_name }} </td>
                            <td> {{item.email}} </td>
                            <td>
                                <i class="material-icons mr-2 edit" (click)="editUser(item); indexEdit = i;" >edit</i>
                                <i class="material-icons trash" (click)="delUser(item.id); indexEdit = i;" >delete</i>
                            </td>
                        </tr>
                    </div>
                </tbody>
            </table>
            <nav id="navigation" aria-label="Page navigation example">
                <ul class="pagination ml-3">
                  <li class="page-item">
                    <a class="page-link" (click)="changePage(page - 1)" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item" [class.active]="page == 1" ><a class="page-link" (click)="changePage(1)">1</a></li>
                  <li class="page-item" [class.active]="page == 2" ><a class="page-link" (click)="changePage(2)">2</a></li>
                  <li  class="page-item"  *ngFor="let item of extraPage(item); let i = index;"  [class.active]="page == item" >
                    <a class="page-link"  (click)="myUser(item)"> {{item}} </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" (click)="page < 2 ? changePage(page + 1): myUser(page + 1)" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>


        <div class="body2 col-md-12 animated fadeIn pt-5" align="center" *ngIf="create && !loader">
            <img *ngIf="user.avatar" width="60px" class="user-img2" src="{{user.avatar}}" alt="">  
            <i *ngIf="!user.avatar" class="material-icons user2">person</i>

            <div class="col-md-6 align mt-4">
                <i class="material-icons mr-2 user ">account_circle</i>
                <i class="material-icons mr-2 valid" [class.check]="user.first_name != ''" [class.times]="user.first_name == ''" >{{ user.first_name != '' ? 'check_circle' : 'add_circle' }}</i>
                <input type="text" placeholder="Nombre" [(ngModel)]="user.first_name"   class="form-control icon" />
            </div>

            <div class="col-md-6 align mt-4">
                <i class="material-icons mr-2 user ">account_circle</i>
                <i class="material-icons mr-2 valid" [class.check]="user.last_name != ''" [class.times]="user.last_name == ''" >{{ user.last_name != '' ? 'check_circle' : 'add_circle' }}</i>
                <input type="text" placeholder="Apellido" [(ngModel)]="user.last_name"   class="form-control icon" />
            </div>

            <div class="col-md-6 align mt-4">
                <i class="material-icons mr-2 user">mail</i>
                <i class="material-icons mr-2 valid" [class.check]="user.email != ''" [class.times]="user.email == '' || !email.test(user.email)" >{{ user.email != '' && email.test(user.email) ? 'check_circle' : 'add_circle' }}</i>
                <input type="text" placeholder="Email" [(ngModel)]="user.email"   class="form-control icon" />
            </div>

            <button [disabled]="valid()" type="button" class="btn btn-second mt-4" (click)="user.id ? updateUser() :createUser()" > 
                <span *ngIf="!user.id">
                    Crear Usuario
                </span>     
                <span *ngIf="user.id">
                    Editar Usuario
                </span>
            </button>
    
        </div>


        <span *ngIf='!loader' class="addButt blue-back animated fadeIn" (click)="change()">
            <span class="animated fadeIn" *ngIf="!create" >
                +
            </span>
            <i *ngIf="create" class="material-icons animated fadeIn">keyboard_backspace</i>
        </span>
    </div>    
</div>
